#header-main {
    //Instead of the line below you could use @include backface-visibility($visibility)
    backface-visibility: hidden; //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
    background-color: $black;
    display: block;
    height: 80px;
    left: 0;
    padding-right: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    .logo a {
        background-size: 100%;
        background-image: $logo;
        background-repeat: no-repeat;
        display: block;
        text-indent: -9999em;
        overflow: hidden;
        left: 50%;
        margin-left: -80px;
        position: absolute;
        width: 160px;
        height: 30px;
        top: 27px;
        z-index: 100;
    }
    .navbar-inner {
        border-radius: 0;
    }
    #header-nav {
        height: 80px;
    }
    #header-nav-signin {
        a {
            color: $black;
            text-decoration: none;
            text-align: right;
            padding: 10px 15px;
            > span {
                margin-top: 1em;
            }
        }
    }
}

.header-nav-settings {
    left: 10px;
    position: absolute;
    top: 25px;
    z-index: 101;
    .header-nav-group {
        float: left;
    }
    a {
        padding: 0 15px;
    }
}

.header-nav-right {
    position: relative;
    float: right;
    margin-top: 25px;
    margin-right: 20px;
}

.ui-widget-header {
    background: $black;
    color: $white;
}

.header-nav-secondary {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    z-index: 21;
    ul {
        position: relative;
    }
    li {
        position: relative;
    }
    .header-nav-parent {
        color: $gold;
        display: block;
    }
    .header-nav-link {
        color: $gold;
        display: inline-block;
        .truncate {
            text-transform: capitalize;
            display: inline-block;
            width: 70px;
            overflow: hidden;
            text-overflow: ellipsis;
            position: relative;
            top: 4px;
        }
    }
}

.navbar-header {
    padding: 0 15px;
    color: $gray-light;
}