.service-modal {
    width: 30% !important;
    top: 5% !important;
    left: 35% !important;
}

.tracking-history-modal {
    width: 50% !important;
    top: 5% !important;
    left: 25% !important;
}

.localization-modal {
    width: 70% !important;
    top: 5% !important;
    left: 15% !important;
}